.imageStart {
  margin-bottom: 5%;
}

.imageStart img {
  max-width: 100%;
}

.infos-about {
  display: flex;
  margin-top: 10%;
}

.texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-about {
  width: 90%;
  text-align: center;
}

.title-about h1 {
  font-size: 2.8rem;
  color: #28684a;
  margin-bottom: 30%;
}

.text-info {
  width: 75%;
  text-align: center;
}

.text-info p {
  font-size: 2rem;
  margin-top: -25%;
}

.row-1 {
  display: flex;
}

.row-1 img {
  padding: 0 2.5% 2.5% 0;
}

.images-about {
  margin-right: 3%;
  margin-top: 6%;
}

.container {
  display: flex;
  margin-top: 10%;
}

.box {
  flex: 1;
  height: 20vh;
  margin: 2vw;
  padding: 2vw;
  border-radius: 10px;
  text-align: center;
}

.number h1 {
  font-size: 4rem;
  color: white;
}

.description {
  font-size: 18px;
  color: white;
  margin-top: 10px;
}