.slogan-catalog-start {
  margin-bottom: 5%;
}

.slogan-catalog-start img {
  max-width: 100%;
}

.image-slogan-catalog{
  display: flex;
  justify-content: center;
  margin: 2% 0 0 0;
}

.image-slogan-catalog img{
  width: 95%;
  height: auto;
}

.categories{
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.title-categories {
  text-align: center;
  margin-bottom: 20px;
}

.categories-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.items {
  flex: 0 0 calc(50% - 20px);
  max-width: calc(45% - 20px);
}

.items img {
  width: 100%;
  display: block;
}

/* Categoria de bebidas */
.background{
  margin-bottom: 5%;
}

.background img{
  max-width: 100%;
}

.revenues{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.revenues-image{
  display: flex;
  justify-content: center;
  padding: 3%;
}

.revenues-image img{
  width: 70%;
}

.coment-site{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title h1{
  color: #28684A;
  font-size: 3rem;
}

.sub-coment{
  font-size: 1.5rem;
}

.sub-coment a{
  text-decoration: none;
  color: #000;
}