/* Início */
.background img {
  max-width: 100%;
}

.titleHome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
}

.titleHome h1 {
  color: #fff;
  font-size: 7rem;
  text-align: center;
}
/* /Início */

/* Slogan */
.text-introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.text h2 {
  width: 50vw;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}
/* /Slogan */

/* Carrossel de drinks */
#drinks {
  margin-top: 5%;
}

.inner{
  display: flex;
}

.item{
  padding: 3%;
}

.item img{
  pointer-events: none;
}

.caroussel-drinks{
  cursor: grab;
  overflow: hidden;
}
/* /Carrossel */

.phrase-and-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}

.phrase h1{
  font-size: 2rem;
  font-weight: normal;
}

.button-phrase{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F88406;
  margin-top: 2%;
  width: 35vw;
  height: 9vh;
  border-radius: 20px;
}

.button-phrase a{
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
}