.background img{
  max-width: 100%;
}

.titleHome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
}

.titleHome h1 {
  color: #fff; 
  font-size: 7rem;
  text-align: center; 
}

.text-and-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.text h2{
  width: 60vw;
  font-size: 2.1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 2%;
  background: #C7620C;
  width: 40vw;
  height: 11vh;
  border-radius: 15px;
}

.button a{
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}