.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 0 7% 0;
}

.image-logo img {
  width: 20vw;
}

.title-logo {
  text-align: center;
}

.title-logo h1 {
  font-size: 4.5rem;
  margin-right: 5%;
}

.title-logo h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-left: 6%;
}

.middle-image {
  margin-top: 10%;
}

.middle-image img {
  max-width: 100%;
}

.slogan-home {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10%;
}

.slogan-home h1 {
  text-transform: uppercase;
  font-size: 2vw;
}

/* Carrossel de drinks */
#drinks {
  margin-top: 5%;
}

.inner {
  display: flex;
}

.item {
  padding: 3%;
}

.item img {
  pointer-events: none;
}

.caroussel-drinks {
  cursor: grab;
  overflow: hidden;
}
/* /Carrossel */

.phrase-and-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}

.phrase h1 {
  font-size: 2rem;
  font-weight: normal;
}

.button-phrase {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #28684A;
  margin-top: 2%;
  width: 35vw;
  height: 9vh;
  border-radius: 20px;
}

.button-phrase a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
} 