.menu{
  display: flex;
  justify-content: center;
  margin: 5% 0 0 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu a{
  text-decoration: none;
  color: #fff;
  transition-duration: 0.3s;
}

.menu ul{
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20%;
  font-size: 1.8vw;
}

.menu li {
  display: inline-block;
}

.menu a:hover{
  color: #C7620C;
}