.menu {
  display: flex;
  justify-content: center;
}

.menu a {
  text-decoration: none;
  color: #375102;
  transition-duration: 0.1s;
  font-weight: bold;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20%;
  font-size: 1.8vw;
}

.menu li {
  display: inline-block;
}

.menu a:hover {
  padding-bottom: 5px;
  border-bottom: 3px solid #375102; 
}

.isSelected a{
  padding-bottom: 5px;
  border-bottom: 3px solid #375102; 
  color: #375102; 
}
